@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .linkToSections {
    @apply  text-[14px] xsm:text-[16px]  transition duration-500 border-b-[1px] border-transparent px-2 py-1  hover:border-[#02cd1a] cursor-pointer text-[#7c7c8a] font-semibold
  }
  .contactInput {
    @apply w-full outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-green-500/40 focus:text-green-500/40 hover:border-green-500/40
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 { 
    font-family: 'Anton';
  }

}